<!DOCTYPE html>
<html>
<head>
    <title>Mini Chat Flask</title>
    <script>
        async function fetchMessages() {
            const response = await fetch("/messages.json");
            const data = await response.json();
            const list = document.getElementById("messages");
            list.innerHTML = "";
            data.forEach(msg => {
                const li = document.createElement("li");
                li.innerHTML = `<strong>${msg.username}:</strong> ${msg.content}`;
                list.appendChild(li);
            });
        }

        setInterval(fetchMessages, 2000); // auto actualisation toutes les 2s
        window.onload = fetchMessages;
    </script>
</head>
<body>
    <h1>Mini Chat - {{ user.username }}</h1>
    <form method="POST">
        <input type="text" name="content" required>
        <button type="submit">Envoyer</button>
    </form>
    <h2>Messages:</h2>
    <ul id="messages"></ul>
</body>
</html>


